@media screen and (max-width: 900px) {
  #desktop {
    display: none;
  }
  #ham_van {
    display: flex;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  color: #0000;
  font-size: 1.2em;
  line-height: 1.6;
  background: #ffffff;
  overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  /* border-radius: 50% 50% 50% 50%; */
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  /* box-shadow: 0 0 0 0 #2965ed, 0 0 0 0 #2965ed; */
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #2965ed;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #2965ed;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 40%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  align-items: center;
}

label a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
  }

  label a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #2965ed;
    transition: all ease 0.5s;
    bottom: 0;
  }
  label  a:hover {
    color: #2965ed;
  }
  label a:hover:after {
    width: 100%;
  }

label a {
  margin-bottom: 1em;
  display: block;
  color: #0a0a0a;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* @font-face {
  src: url(font/Gilroy-Medium.ttf);
  font-family: Gilroy;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: Gilroy; */
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.logo {
  max-height: 5rem;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #2965ed;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #2965ed;
  transition: all ease 0.5s;
  bottom: 0;

}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #fff;
  font-size: (12px, 2vw, 20px);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 000;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #2965ed;
  border: 2px solid #2965ed;
}
.btn:hover {
  background: transparent;
  border-color: #2965ed;
  color: #2965ed;
}
.content {
  position: absolute;
  top: 35%;
  left: 8%;
}
.content .title {
  color: #0a0a0a;
  font-size: clmap(10px, 3.8vw, 20px);
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #2965ed 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #1f1f25;
  font-size: clamp(50px, 10vw, 75px);
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.content h1 span {
  color: #2965ed;
}
.content p {
  width: 55%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: clamp(5px, 2vw, 19.2px) ;
}

.content:hover {
  cursor: default;
}